/* Tablet Sizes - 768px < x < 1024px */

	@media screen and (min-width: 768px) and (max-width: 1024px) {
	.learner-profile-top
	{
		margin-right: -19px;
	}
	.mobile-navigation .mobile-hide {
		display:none;
	}
	.navbar-inverse .navbar-nav>li>a {
		padding-right:48px;
	}

	.back-to-top {
		float:none;
		width:77px;
		margin:0 auto;
		margin-top:40px;
	}
	.container
	{
		padding: 0;
		width: 100%;
	}

	.header-primary
	{
		background: #1a1712;

	}
	.primary-header {
		display:none;
	}
	.navigation
	{
		display:none;
		border-bottom: 0;
	}
	.navbar-brand {
		/*height:73px;*/
		padding:0px 0px 0px 15px;
		display:none;
	}
	.navbar-header {
		width:auto !important;
	}
	.capella-logo-phone {
		float:left;
	}
	/*.navbar-header
	{
		width: auto;
	}*/
	.navbar-header button
	{
		background: none;
		border: 0;
		border-radius: 0;
		margin: 0;
		padding: 0;
	}
	/*.navbar.yamm.navbar-inverse
	{
		display: none;
	}*/
	.navbar.yamm.navbar-inverse .navbar-collapse.collapse.in
	{
		display: block;
	}
	/*.primary-header
	{
		float: none;
		margin: 0 auto;
		padding: 5px 0px 0px 0px;
		width: 200px;
	}*/
	.primary-header {
		padding:0;
	}
	.learner-profile-top
	{
		float: right;
		margin-bottom: 10px;
		margin-right: -19px;
		padding-right:0;
	}
	.learner-profile-top .search-this.close-this {
		background:url('../img/search-mobile-close.png');
		width:55px;
		height:60px;
		position: absolute;
		top: 6px;
		right: 41px;
	}
	.search.dark-grey
	{
		background:#262524;
		padding: 0;
	}
	.search-panel
	{
		border-bottom: 6px solid #800d1c;
	}
	.upcoming-courses.white-bg, .previous-courses.white-bg
	{

	}
	.course-info.white-bg
	{
		border:0;
		margin-bottom:0;
	}

	.upcoming-courses .course-panel, .previous-courses .course-panel
	{
		border: 0;
	}
	.upcoming-courses .course-panel .course-section ul li
	{
		clear: both;
		float: left;
		width: 100%;
	}
	.previous-courses .course-panel .course-section ul
	{
		float: left;
		width: 100%;
	}
	.course-info .course-detail.first-box.one-line, .course-info .course-detail.first-box.two-line
	{
		min-height: initial !important;
		/*margin-top:-42px;*/
	}
	.course-info .course-detail
	{
		border: 0;
		min-height: 81px;
	}
	.course-info .last-panels
	{
		border: 0;
		padding-top: 0;
	}
	.course-notifications .faculty-info p
	{
		float: none;
		margin-left: 53px;
	}
	.mobileTab {
		float:left;
	}
	.mobileTab.open {
		
	}
	/*.learner-profile-dropdown .learner-profile.user-details .name {
		background:#262524;
		color:#fff;
		font-family:Arial;
		font-size:14px;
		padding-top:5px;
		border-top:1px solid #3b3938;
	}
	.learner-profile-dropdown .learner-profile.user-details .name .learnerID {
		color:#c5c4c1;
		font-size:12px;
	}
	.learner-profile-dropdown
	{
		border: 0;
		left: 0;
		margin-left: 0px;
		margin-top: 0px;
		max-width: 100%;
		position: initial;
		right: 0;
		width: 100%;
		background:#262524;
		box-shadow:none !important;
	}
	.learner-profile-dropdown .learner-profile.social-profile ul {
		border-top:1px solid #3b3938;
		padding:0;
	}
	.learner-profile-dropdown .learner-profile.social-profile ul li a {
		color:#fff;
		border-bottom:1px solid #3b3938;
		letter-spacing: 0.7px;
		padding:8px 0px 8px 10px;
	}
	.learner-profile .social-profile .col-sm-12 {
		padding:0px 35px;
	}
	.learner-profile-dropdown .learner-profile.social-profile .logout {
		padding-top:12px;
	}
	.learner-profile-dropdown .learner-profile.social-profile .request-icon {
		right:26px;
		top:11px;
	}*/
	.entire-panel-wrapper
	{
		background: #fff;
		border: 1px solid #e2e2e2;
		float: left;
		margin-bottom: 20px;

		width: 100%;
	}
	.panel-inner-box
	{
		background: #fff;
	}
	.panel.panel-default.col-sm-6
	{
		background: #ebebeb;
	}
	.panel-inner-box ul li
	{
		padding-top: 12px;
	}
	.tasks-giving-wrapper
	{
		padding: 0px 5px 0px 5px;
	}
	.inspire-giving
	{
		width:38%;
		max-height:215px;
		margin-left:4%;
	}
	.tasks, .inspire-giving
	{
		padding: 10px 10px;
	}
	.tasks {
		margin-left:10%;
		width:38%;
		max-height:215px;
	}
	/*.resource-blocks
	{
		margin-left: 8.5%;
	}*/
	.resource-blocks .resource-block-content {
		border-bottom:0;
	}
	/*.resource-blocks .col-sm-4.first
	{
		border-left: 0;
	}
	.resource-blocks .col-sm-4.last
	{
		width: 27.2%;
	}
	.resource-blocks .col-sm-4
	{
		width: 28%;
	}
	.resource-blocks .col-md-2 {
		border-left: 6px solid #fff;
		border-bottom:6px solid #fff;
	}
	{
		margin: 20px 5% 0 10%;
	}*/
	.additional-resources .col-sm-6.col-sm-offset-1
	{
		margin-left: 7%;
		padding: 0;
	}
	/*.back-to-top
	{
		float: none;
		margin: 0 auto;
		width:77px;
	}*/
}